body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #1d1d1f;
	margin: 0;
	font-family: 'Jost', sans-serif;
}

#root {
	position: relative;
	width: 393px;
	height: 852px;
	border-radius: 24px;
	background: #fff;
	overflow: hidden;
}

.background--img {
	width: 393px;
	height: 583px;
	background: linear-gradient(180deg, #5431df 0%, rgba(120, 92, 229, 0) 100%);
	border-radius: 0px 0px 32px 32px;
}

.background-safe--img {
	position: absolute;
	top: 245px;
	right: -100px;
}

.background-balance--img {
}

.main__container--gray {
	height: 100%;
	background: #f5f5f7;
}

.wrapper__menu {
	position: absolute;
	top: calc(50% - 360px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: calc(100% - 40px);
	color: #f3f5ff;
	font-size: 16px;
	font-weight: 400;
}

.wrapper__button {
	margin-top: 90px;
}

.wrapper__title {
	position: absolute;
	top: calc(50% - 325px);
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 42px;
	font-weight: 600;
	line-height: 100%;
}

.wrapper__text {
	position: absolute;
	top: calc(50% - 260px);
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
}

.wrapper__balance {
	position: absolute;
	top: calc(50% - 320px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: calc(100% - 40px);
	color: #f3f5ff;
	font-size: 34px;
	font-weight: 600;
}

.wrapper__transaction {
	position: absolute;
	top: calc(50% - 260px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 14px;
	width: calc(100% - 40px);
	color: #f3f5ff;
}

.transaction__receive,
.transaction__send {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 4px;
}

.transaction__img {
	padding: 12px;
	border-radius: 100px;
	border: 10px solid #fff;
	background: #5b94e9;
}

.transaction__title {
	color: #1d1d1f;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

.wrapper__settings {
	overflow-y: auto;
	max-height: 730px;
}

.wrapper__movement {
	position: absolute;
	top: calc(50% - 135px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 16px;
	width: calc(100% - 40px);
	color: #f3f5ff;
	overflow-y: auto;
	max-height: 530px;
}

.movement {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.movement__content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 12px;
}

.movement__img {
}

.movement__details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	gap: 8px;
}

.movement__name {
	color: #1d1d1f;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.movement__specialty {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
}

.movement__time,
.movement__status {
	color: #939199;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}

.movement__cost {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.movement__cost--plus {
	color: #24b277;
}

.movement__cost--minus {
	color: #1d1d1f;
}

.menu__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: space-between;
}

.stub {
	width: 64px;
	height: 64px;
}

.form {
	margin-top: 32px;
}

.form--slim {
	margin-top: 0;
}

.form__item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	margin: 20px 0;
}

.form__item--slim {
	margin: 10px 0;
}

.form__alert {
	margin: 0 20px;
}

.form__title {
	margin: 12px;
	color: #121212;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.form__text {
	margin: 12px;
	color: #939199;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.form__text--big {
	margin: 0;
	margin-top: 12px;
	color: #000;
	font-size: 16px;
	font-weight: 500;
}

.form__text--h1 {
	font-size: 38px;
	font-weight: 600;
}

.form__text--left {
	text-align: left;
	margin-left: 20px;
}

.form__error {
	display: none;
	margin-top: 8px;
	width: calc(100% - 40px);
	color: #f23152;
	font-size: 14px;
	font-weight: 400;
}

.form__error--active {
	display: flex;
}

.link__prefix {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
	width: calc(100% - 40px);
}

.notifications__container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 12px;
	background: #f5f5f7;
	overflow-y: auto;
	max-height: 730px;
}

.notification__wrapper {
	padding: 16px;
	border-radius: 12px;
	background: #fff;
	width: calc(100% - 40px);
	margin: 0 20px;
}

.notification__item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 12px;
	justify-content: flex-start;
	align-items: center;
}

.notification__content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 8px;
}

.notification__title {
	color: #1d1d1f;
	font-size: 16px;
	font-weight: 500;
}

.notification__subtitle {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
}

.notification__time {
	color: #939199;
	font-size: 12px;
	font-weight: 400;
}

.notification__event {
	color: #939199;
	font-size: 12px;
	font-weight: 400;
}

.receive__container {
	margin-top: 32px;
}

.payment__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.payment__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 12px;
}

.payment__title {
	color: #1d1d1f;
	font-size: 16px;
	font-weight: 500;
}

.payment__ico {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 8px;
}

.transaction__wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	gap: 16px;
	width: calc(100% - 40px);
	padding: 14px;
	border-radius: 12px;
	background: #fff;
}

.transaction__date,
.transaction__address,
.transaction__type {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #1d1d1f;
	font-size: 16px;
	font-weight: 400;
}

.validation {
}

.validation--active {
	border-color: #f23152 !important;
}
