.field {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 8px;
	width: calc(100% - 40px);
}

.field__label {
	color: #1d1d1f;
	font-size: 14px;
	font-weight: 400;
}

.field__input {
	border: 1px solid #e9e8eb;
	border-radius: 12px;
	padding: 16px 16px;
	align-self: stretch;
	color: #121212;
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	transition: border-color 0.3s;
}

.field__input::placeholder {
	color: #888888;
}

.field__input:hover {
	border-color: #775ce5;
}

.field__input:focus {
	border-color: #775ce5;
}

.field__error {
}

.field__error--active {
	color: #f23152 !important;
}
